.panel.double.no-scroll
  %h3 Contact <span>information</span>
  %img{:src => "images/contacts01.jpg"}
  %p.intro
    <span>FilBCS-Filipino Badminton Club of Sydney<br />172 Silverwater Rd.<br />Silverwater, NSW<br />Sydney, Australia<br />2128<br />
  %p.contacts
    <span>Club Contacts:</span><br />
    Main Email: <a href="mailto:secretariat@filbcs.org.au" target="_blank">secretariat@filbcs.org.au</a><br />
    President: <a href="mailto:president@filbcs.org.au" target="_blank">president@filbcs.org.au</a>
  %p.facebook
    <span>Facebook Page:</span><br />
    <a href="https://www.facebook.com/groups/filbcs" target="_blank">https://www.facebook.com/groups/filbcs</a>
	

.panel.double.no-scroll
  %h3 Contact <span>form</span>
  %p
    <span>Interested in our club?</span><br /> Fill in the contact form below and the club secretary will endevour to get back to you shortly.
  .error-box
  .contact-form
    %form{:action => "/inc/mail.php", :method => "", :name => "contact_form"}
      %input.full-name{:type => "text", :placeholder => "Your full name:", :name => "fullname"}
      %input.tel{:type => "text", :placeholder => "Your telephone:", :name => "phone"}
      %input.email{:type => "text", :placeholder => "E-mail address:", :name => "email"}

      %textarea.message{ :name => "message"}
      %input.send{:type => "submit", :value => "send", :name => "name"}
      %input.clear{:type => "submit", :value => "clear", :name => "name"}

  .message-sent
    %h4 Your message has been sent and we will respond to your enquiry. Thank you!
    .re-send
      To send another message, please <a class="show-form" href="#" target="_blank">click here</a>