.panel.double.no-scroll
  .part
    %h3 Welcome <span>to our club</span>
    %img.title{:src => "images/home01.jpg"}
    .title
      %p
        The Filipino Badminton Club of Sydney (FilBCS) is an association of Filipino badminton enthusiasts who share the same passion of playing badminton with <span>friends and families</span>. 
        %a.modal-trigger.extra-info-on-home{href: "#"}
          More info

  .part
    %h3 Photos <span>from previous games</span>
    %img.photo-thumb{:src => "images/home02.jpg"}
    %img.photo-thumb{:src => "images/home03.jpg"}
    %img.photo-thumb{:src => "images/home04.jpg"}
    %img.photo-thumb{:src => "images/home05.jpg"}

.panel.double.no-scroll
  .part
    %h3 News <span>of our club</span>
    .news-feed
      %p.date 22 Feb 2014
      %p
        <span>FilBCS Unity Cup Results</span> A big congratulations to the winners of the FilBCS unity cup. Division 1 - Black Team, Division 2 - Red team and Division 3 - Blue Team. A job well done to the CTs for organising a smooth running event at very short notice.
      %p.date 01 Feb 2014
      %p
        <span>FilBCS to move to a new venue</span> - The 2014 CTs have taken a bold move to move the club operations to a new venue. The National Badminton Centre at Silverwater. Both FilBCS Castle Hill and FilBCS Hawkesbury will be moving into the new venue as a united group.
  .part
    %h3 Recent <span>newsletters</span>
    .column
      %a{:href => "#"}
        Smash News 2011 Issue 1
      %a{:href => "#"}
        Smash News 2010 Issue 2
      %a{:href => "#"}
        Smash News 2010 Issue 3
    .column
      %a{:href => "#"}
        Smash News 2010 Issue 4
      %a{:href => "#"}
        Smash News 2010 Issue 5
      %a{:href => "#"}
        Smash News 2010 Issue 6
