.modal#extra-info-on-home
  .taskbar
    .close
      %a{href: "#"}
        x
  .content
    %p
      FilBCS is a family oriented badminton club based in Sydney Australia. Officially established in 2005, the club has over 50 active members. Whilst sharing the passion for badminton, the membership greatly values the core values of friends and families.<br><br>FilBCS is run and managed by agroup of care takers (CTs) who are duly elected by the membership on a yearly basis.  The care takers are technically the officers of the club who manage the club finances, club programs such as tournaments, club family days and other social activities; and, club weekly operations and logistics.
    
.modal#extra-info-on-events
  .taskbar
    .close
      %a{href: "#"}
        x
  .content
    %p
      This is the content for EVENTS
    %p
      To use a modal like this, create another modal with a new ID value, and give the anchor tag which activates that modal a class "modal-trigger &lt;value&gt;"